<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/210/nature" alt="">
        <span><h4>{{destino.nombre}}</h4></span>
    </div>
    <div class="card-desc">
        <h1>{{destino.nombre}}</h1>
        <p>Lorem ipsum dolor sit amat consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>